//尺寸

$global-font-size: 16px;
$scrollbar-size: 12px;
$image-size: 60px;
$icon-size: 18px;
$copyright-size: 12px;
$margin: 10px;
$padding: 10px;
$global-container-width: 1000px;
$header-height: 150px;
